<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PetShopEntities" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities1" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities2" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities3" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities4" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities5" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities6" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities7" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities8" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities9" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities10" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShop10Entities" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=&quot;&quot;Pet'sShop&quot;&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities11" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities12" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities13" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities14" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPetShop" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=&quot;&quot;Pet'sShop&quot;&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities15" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities0" connectionString="metadata=res://*/ModelePetShop.csdl|res://*/ModelePetShop.ssdl|res://*/ModelePetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=&quot;&quot;Pet'sShop&quot;&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities16" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop.ru;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities20" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop.ru;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities17" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities18" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop.ru;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities19" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetShopEntities22" connectionString="metadata=res://*/ModelPetShop.csdl|res://*/ModelPetShop.ssdl|res://*/ModelPetShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB0D02M\SQLEXPRESS;initial catalog=PetShop.ru;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>